---

---

<section class="flex flex-col items-center justify-between bg-black">
    <div
        class="w-full border-y border-white px-8 py-4 font-subheadline text-sm uppercase tracking-[.3em] text-white"
    >
        Work With Us
    </div>
    <div class="grid w-full grid-cols-1 text-white md:grid-cols-3">
        <div
            class="col-span-1 flex aspect-square items-center justify-center border-r border-white bg-black md:col-span-1"
        >
            <h3>1</h3>
        </div>
        <div
            class="col-span-1 flex aspect-square items-center justify-center border-r border-white bg-black md:col-span-1"
        >
            <h3>2</h3>
        </div>
        <div
            class="col-span-1 flex aspect-square items-center justify-center bg-black md:col-span-1"
        >
            <h3>3</h3>
        </div>
    </div>
</section>
