---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us">
    <section class="flex h-[calc(100vh-6rem)] items-center justify-center bg-gray-300">
        <div class="container mx-auto py-12 text-center">
            <h1>About Us</h1>
            <p class="text-lg leading-relaxed text-gray-600">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab hic distinctio illum
                perspiciatis inventore cumque quos fugit ut voluptatem voluptatibus vero saepe
                voluptatum, aut sint ullam voluptas nisi doloremque laudantium, possimus odio!
                Quisquam corporis omnis necessitatibus, modi iste culpa obcaecati tenetur molestiae
                possimus quo nesciunt, in nostrum cumque repudiandae esse autem? Tenetur praesentium
                totam rem. Consequatur rerum obcaecati nisi quo dolores eaque sed, omnis quaerat.
                Reiciendis ullam corrupti possimus, consequatur voluptates, impedit culpa quos eum
                modi explicabo magni cumque incidunt perspiciatis tempore ducimus quibusdam vitae
                exercitationem ad qui. Repudiandae distinctio hic ipsum perferendis modi quaerat ea
                unde nostrum. Illum quidem officia sunt, unde nam excepturi deleniti in iure a
                deserunt distinctio pariatur officiis eum aspernatur alias nostrum id beatae omnis
                tenetur ullam dolore. Repellendus, officia!
            </p>
        </div>
    </section>
</Layout>
