---
import Layout from "../layouts/Layout.astro";
import ThreePanelSection from "../components/sections/ThreePanelSection.astro";
import HomeHeroSection from "../components/sections/HomeHeroSection.astro";
import ImageDuotone from "../components/testers/ImageDuotone.astro";
---

<Layout title="Welcome to Astro.">
    <HomeHeroSection />
    <ThreePanelSection />
    <section class="flex h-1/2 items-center justify-between">
        <div class="h-full w-1/2 bg-black">
            <h1 class="text-white">This is a box</h1>
        </div>
        <ImageDuotone />
    </section>
</Layout>
