---

---

<header class="flex h-12 items-center border-b border-white bg-black text-white">
    <div class="container mx-auto flex items-center justify-between">
        <h1 class="font-headline text-2xl uppercase tracking-widest">Three Crow Creative</h1>
        <nav
            class="tracking-super flex items-center gap-12 font-subheadline text-xs font-medium uppercase"
        >
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
</header>
